<div class="content">
    <div class="row justify-content-md-center">
        <div class="col-sm-6 position-absolute bottom-50 d-grid gap-2">
            <br>
            <h1>Aeronáutica Espacial <span class="badge bg-secondary">SofkaU</span></h1>
            <a href="/crear" type="btn" class="btn btn-primary btn-lg text-white">Crea </a>
            <a href="/buscar" type="btn" class="btn btn-success btn-lg text-white">Busca Aeronaves</a>
            
        </div>
    </div>
</div>